
{% extends 'base.html' %}

{% block content %}
<div class="container card">
    <h1>Candidates applied</h1>
    <div class="card-body">
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Date of birth</th>
                <th>Resume</th>
                <th>Gender</th>
                <th>Mobile</th>
                <th>Email</th>
            </tr>
            {% for candidate in candidates %}
                <tr>
                    <td>{{candidate.name}}</td>
                    <td>{{candidate.dob}}</td>
                    {% if candidate.resume %}
                    <td><a href='{{c.resume.url}}' download >{{candidate.resume}}</td></a></td>
                    {% else %}
                    <td>Not submitted</td>
                    {% endif %}
                    <td>{{candidate.gender}}</td>
                    <td>{{candidate.mobile}}</td>
                    <td>{{candidate.email}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}